/* line 1, ../compass/sass/style.scss */
#total-wrapper {
  max-width: 1080px;
  margin: 0 auto 10%;
  width: 100%;
}
/* line 5, ../compass/sass/style.scss */
#total-wrapper #home {
  width: 95%;
  margin: auto;
  padding-bottom: 5px;
  border-bottom: 2px solid;
}
/* line 11, ../compass/sass/style.scss */
#total-wrapper #nav-wrapper {
  width: 95%;
  margin: auto;
  border-bottom: 2px solid;
  padding-bottom: 2px;
  height: 130px;
}
/* line 18, ../compass/sass/style.scss */
#total-wrapper #nav-wrapper #nav-left {
  width: 20%;
  float: left;
}
/* line 21, ../compass/sass/style.scss */
#total-wrapper #nav-wrapper #nav-left img {
  max-width: 100%;
}
/* line 25, ../compass/sass/style.scss */
#total-wrapper #nav-wrapper #nav-center {
  width: 50%;
  float: left;
}
/* line 28, ../compass/sass/style.scss */
#total-wrapper #nav-wrapper #nav-center #search-bar {
  padding-top: 35px;
  width: 100%;
}
/* line 31, ../compass/sass/style.scss */
#total-wrapper #nav-wrapper #nav-center #search-bar input {
  width: 60%;
  margin-right: 10px;
}
/* line 36, ../compass/sass/style.scss */
#total-wrapper #nav-wrapper #nav-center #nav-bar-center {
  padding-top: 15px;
}
/* line 38, ../compass/sass/style.scss */
#total-wrapper #nav-wrapper #nav-center #nav-bar-center #home-nav {
  float: left;
  width: 20%;
  text-align: center;
}
/* line 43, ../compass/sass/style.scss */
#total-wrapper #nav-wrapper #nav-center #nav-bar-center #videos {
  float: left;
  width: 20%;
  text-align: center;
  border-left: 2px solid;
  border-right: 2px solid;
}
/* line 50, ../compass/sass/style.scss */
#total-wrapper #nav-wrapper #nav-center #nav-bar-center #channels {
  float: left;
  width: 20%;
  text-align: center;
}
/* line 58, ../compass/sass/style.scss */
#total-wrapper #nav-wrapper #nav-right {
  width: 30%;
  float: left;
}
/* line 61, ../compass/sass/style.scss */
#total-wrapper #nav-wrapper #nav-right #account-links {
  padding-top: 35px;
  text-align: right;
}
/* line 66, ../compass/sass/style.scss */
#total-wrapper #nav-wrapper #nav-right #nav-bar-right {
  width: 100%;
  padding-top: 25px;
}
/* line 69, ../compass/sass/style.scss */
#total-wrapper #nav-wrapper #nav-right #nav-bar-right ul li {
  float: right;
  list-style-type: none;
  margin-left: 25px;
}
/* line 77, ../compass/sass/style.scss */
#total-wrapper #body-wrapper {
  width: 95%;
  margin: auto;
}
/* line 85, ../compass/sass/style.scss */
#total-wrapper #body-wrapper #main-video-wrapper {
  width: 70%;
  height: 500px;
  float: left;
}
/* line 90, ../compass/sass/style.scss */
#total-wrapper #body-wrapper #main-video-wrapper #video iframe {
  width: 100%;
  height: 400px;
}
/* line 95, ../compass/sass/style.scss */
#total-wrapper #body-wrapper #main-video-wrapper #glyphicons .glyphicon {
  margin-right: 40px;
  margin-top: 10px;
  font-size: 1.2em;
}
/* line 101, ../compass/sass/style.scss */
#total-wrapper #body-wrapper #main-video-wrapper #num-views {
  float: right;
  margin-top: 10px;
}
/* line 107, ../compass/sass/style.scss */
#total-wrapper #body-wrapper #main-video-wrapper #comments #button {
  margin-top: 30px;
}
/* line 110, ../compass/sass/style.scss */
#total-wrapper #body-wrapper #main-video-wrapper #comments h4 {
  margin-top: 20px;
}
/* line 114, ../compass/sass/style.scss */
#total-wrapper #body-wrapper #main-video-wrapper #user-comments {
  margin-bottom: 5%;
}
/* line 116, ../compass/sass/style.scss */
#total-wrapper #body-wrapper #main-video-wrapper #user-comments #user-name {
  padding-left: 5%;
  padding-right: 5%;
  font-weight: bold;
  color: #002966;
}
/* line 122, ../compass/sass/style.scss */
#total-wrapper #body-wrapper #main-video-wrapper #user-comments #user-text {
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 2%;
}
/* line 133, ../compass/sass/style.scss */
#total-wrapper #related-video-wrapper {
  width: 28%;
  float: left;
  margin-left: 2%;
}
/* line 137, ../compass/sass/style.scss */
#total-wrapper #related-video-wrapper #profile {
  width: 100%;
  overflow: hidden;
  border: 2px solid;
  padding: 4%;
}
/* line 142, ../compass/sass/style.scss */
#total-wrapper #related-video-wrapper #profile #profile1 {
  width: 100%;
}
/* line 144, ../compass/sass/style.scss */
#total-wrapper #related-video-wrapper #profile #profile1 #profile-image {
  width: 30%;
  float: left;
}
/* line 147, ../compass/sass/style.scss */
#total-wrapper #related-video-wrapper #profile #profile1 #profile-image img {
  width: 100%;
}
/* line 151, ../compass/sass/style.scss */
#total-wrapper #related-video-wrapper #profile #profile1 #profile-text {
  width: 40%;
  float: left;
  padding-left: 5%;
}
/* line 155, ../compass/sass/style.scss */
#total-wrapper #related-video-wrapper #profile #profile1 #profile-text h4 {
  margin-top: 0px;
  color: #0066ff;
}
/* line 159, ../compass/sass/style.scss */
#total-wrapper #related-video-wrapper #profile #profile1 #profile-text p {
  font-weight: bold;
}
/* line 163, ../compass/sass/style.scss */
#total-wrapper #related-video-wrapper #profile #profile1 #subscribe-button {
  width: 30%;
  float: left;
  font-weight: bold;
}
/* line 171, ../compass/sass/style.scss */
#total-wrapper #related-video-wrapper #profile #profile2 {
  clear: both;
  padding-top: 3%;
}
/* line 178, ../compass/sass/style.scss */
#total-wrapper #related-video-wrapper #related-videos {
  padding-top: 4%;
}
/* line 180, ../compass/sass/style.scss */
#total-wrapper #related-video-wrapper #related-videos #dynamic-videos {
  width: 100%;
}
/* line 182, ../compass/sass/style.scss */
#total-wrapper #related-video-wrapper #related-videos #dynamic-videos #thumbnails {
  width: 30%;
  clear: both;
  float: left;
  margin-bottom: 4%;
  background-color: black;
}
/* line 188, ../compass/sass/style.scss */
#total-wrapper #related-video-wrapper #related-videos #dynamic-videos #thumbnails img {
  width: 100%;
}
/* line 192, ../compass/sass/style.scss */
#total-wrapper #related-video-wrapper #related-videos #dynamic-videos #thumbnails-text {
  width: 70%;
  float: left;
  padding-left: 4%;
}
/* line 196, ../compass/sass/style.scss */
#total-wrapper #related-video-wrapper #related-videos #dynamic-videos #thumbnails-text h5 {
  margin: 0px;
  padding: 0px;
  color: #0066ff;
}
/* line 201, ../compass/sass/style.scss */
#total-wrapper #related-video-wrapper #related-videos #dynamic-videos #thumbnails-text p {
  font-size: 12px;
  padding-top: 4%;
}
